<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="Mail" value="transit.lepton@leptonmaps.com/T@sit2022" />
		<add key="MailToAddress" value="dinesh.kumar1@leptonsoftware.com" />
		
		<!--value in minutes-->
		<add key="FileCheckInterval" value="5"/>

		<!--value in minutes-->
		<add key="Time_Difference" value="5"/>
		

		<!--No of File_Url,File_Name and File_Name_For must be equal-->
		<!--use comma(,) in value for different File_Url-->
		<add key="File_Url" value="http://leptontransit.leptonsoftware.com/GOOGLE_XML,https://app.leptonsoftware.com:8080/api/CIFS/"/>
		<!--use comma(,) in value for different File_Name-->
		<add key="File_Name" value="lepton-incidents.xml,IncidentDetail"/>
		<!--use comma(,) in value for different File_Name_For-->
		<add key="File_Name_For" value="Google_XML,Apple_JSON"/>
		
		<add key="LogPath" value="D:\Dinesh\Currently Working Project\Service_Running_Status_Check\Service_Running_Status_Check_Logs" />

		<!--in hours-->
		<add key="startTime" value="06,00,00" /> 
		<!--in hours-->
		<add key="endTime" value="23,00,00" />
		
	</appSettings>
</configuration>